.envresults/schedule_output.json

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env

# Output artifacts
results/schedule_output.json

# Jupyter & VSCode
.ipynb_checkpoints/
.vscode/
